*{
    margin:0;
    padding:0;    

}

.cabecalho{
    display: flex;                      /*Liga o container*/
    justify-content:space-between;      /*Alinha os itens lado a lado*/    
    align-items: center;                /*Centraliza os itens do conatainer*/
    padding: 10px 40px;                 /*Acrescenta espaçamento nos itens do cabeçalho*/
    border-bottom: 1px solid #ddd;    /*Cria uma borda prevista pelo design do site*/  
}

.cabecalho__logo{
    height: 50px;                       /*Define a altura máxima da figura do cabeçalho*/ 
}

.cabecalho__navegacaoLinks{
    list-style: none;                   /*Apaga o simbolo do nome dos links*/
    margin: 0;                          
    padding: 0;                         
    display: flex;                      /*Aciona o container para os itens do menu*/
    gap: 30px;                          /*Dá um espaçamento de 30 px entre os itens do menu*/
}

.cabecalho__navegacaoLinks__links{
    text-decoration: none;              /*Retira o sublinhado do texto apresentado como link*/
    color: #1351d8;                   /*Insere cor aos ícones*/
    font-weight: bold;                  /*Coloca texto dos links em negrito*/
    font-size: 18px;                    /*Define o tamanho da fonte*/
    transition: color 0.3s ease;        /*Efeito de transição de cor sobre os ícones*/
}

.cabecalho__navegacaoLinks__links:hover{
    
    color: #003478;                   /*Efeito de transição de cor quando o mouse estiver sobre o ícone*/  

}


.corpo{
    font-family: Arial, sans-serif;     /*Seleciona a fonte utilizada no body*/
    margin: 0;
    display: flex;                      /*Aciona o container para manipular a foto e o texto*/
    flex-direction: column;             /*Organiza a foto principal e o texto em colunas*/
    min-height: 100vh;                  /*Garante que o body ocupe 100% de altura da tela*/
}

.conteudo{
    flex-grow: 1;                       /*Garante que o conteudo do main seja usado ao máximo isolando o cabeçalho e rodapé*/
    padding: 10px 10px;
    text-align: center;                 /*Centraliza verticalmente os itens de imagem e foto do container*/

}

.conteudo__imagem{
    max-width: 70%;                     /*Largura máxima admitida para a figura principal*/
    height: auto;                       /*Ajuste da escala automático garantindo fidelidade a imagem*/
}

.rodape{
    display: flex;                      /*Aciona o container*/
    justify-content: space-between;     /*Alinha os itens lado a lado*/
    align-items: center;                /*Centraliza os itens do conatainer*/
    background-color: #1b3571;        /*Insere a cor de fundo ao rodapé*/
    color: #fff;                      /*Insere a cor da fonte*/
    padding: 10px 40px;                 /* Acrescenta o espaçamento nos itens do rodapé*/

}

.rodape__redesSociais{
    display: flex;                      /*Aciona o container*/
    gap: 15px;                          /*Espaça os ites das redes sociais*/
    align-items: center;                /*Centraliza os ícones das redes sociais*/

}

.rodape__redesSociais__icones{
    height: 30px;                       /*Definindo altura dos ícones*/
    transition: transform 0.3s ease;    /*Adicionando efeito de transição*/

}

.rodape__redesSociais__icones:hover{
    transform: scale(1.1);              /*Amplia o ícone quando o mouse é posicionado sobre ele*/
}


.rodape__copyright{
    margin: 0;
    font-size: 14px;                    /*Tamanho do texto do rodapé*/
    text-align: center;                 /*Centralização do texto*/
}



/* --------------------------------------------------------------- */


.conteudo__videoPromocional{
    flex:1;                             /*Reserva um espaço específico para o video*/
    min-width: 0;                       /*Evita o verflow do video dentro do container*/
}

.conteudo__videoPromocional iframe{
    width: 90%;                         /*Define a largura do video em percentual*/
    height: 500px;                      /*Define a altura do video em pixel*/
    border-radius: 8px;                 /*Adiciona borda ao video*/
    border:none;                        /*Retira algum efeito de borda de demarcação8*/
}

.conteudo__textoPromocional{

        flex: 0 0 300px;                /*Impede que o texto cresça ou encurte definindo um tamanho máximo de 300px*/
        padding-right: 20px;            /*Afasta o texto da borda direita da tela*/
}

.conteudo__textoPromocional p{

    font-size: 16px;                    /*Define o tamanho da fonte do testo*/
    line-height: 1.5;                   /*Define o espaço entre as linhas do texto*/
    color:#000;                       /*Define a cor do texto*/
    margin: 20px 100px;                 /*Ajusta a posição do texto na página*/
    text-align: left;                   /*Alinha o texto à esquerda*/
}

.conteudo__tabelaCarros{
    display:flex;                       /*Aciona o container para organização dos itens da tabela*/
    justify-content: center;            /*Centraliza os itens dispostos na tabela*/
    gap:30px;                           /*Define o espaçamento entre os itens*/ 


}

.conteudo__tabelaCarros__veiculoCard{

    width: 250px;                       /*Define o tamanho da largura das linhas da tabela criada*/
    padding: 15px;
    margin: 10px;                       /*Organiza a disposição dos itens na linha*/
}

.conteudo__tabelaCarros__veiculoCard__imagem{

    width:100%;                         /*Define a largura máxima em percentual para a imagem*/
    height: auto;                       /*Define que a altura da imagem será automatica e proporcional à sua lagura*/
    margin-bottom: 0px;                 /*Organiza a imagem dentro da linha e coluna*/
}

.veiculo_info{
    display: flex;                      /*Aciona o container para controle do conteudo que trazem informações ao carro*/
    align-items: flex-start;            /*Organiza o conteudo de forma a se manterem organizados à esquerda*/
    
}

.veiculo_info input[type="checkbox"]{

    width: 30px;                        /*Define a largura do checkbox*/
    height: 30px;                       /*Defina a altura do checkbox*/
    min-width: 20px;                    /*Define largura mínima do checkbox no caso de variações na tela*/
    border: 1px solid #000;           /*Define a borda do check box*/
    border-radius: 4px;                 /*Adicina bordas arredondadas*/ 
    margin:2px 10px 0 0;                /*Organiza a posição do checkbox*/
    position: relative;                 /*Mantém a posição do checkbox fixa*/
    flex-shrink: 0;                     /*Impede que o item encolha*/
    cursor: pointer;                    /*Muda o ícone do cursor quando está sobre o checkbox*/
}

.veiculo_info img{
    width: 20px;
    margin-top: auto;                   /*Organiza o ícone info*/
    vertical-align: bottom;
}

.texto-container{

    display: flex;
    flex-direction: column;             /*Dispõe o texto informativo no formato de colunas*/
    flex-grow: 1;



}

.veiculo_info h5{
    margin:0;
    font-size: 12px;                    /*Aplica estilização do texto h5*/
    text-align: left;
    font-weight: bold;
    color:#1351d8;

}

.veiculo_info p{
    margin:0;
    font-size: 11px;                    /*Aplica estilização ao paragrafo nas informações do veículo*/
    text-align: left;
    color:#000;

}

.submit-botao{
    background-color: #1351d8;        /*Cria um cor de fundo para o botão submit*/
    color: #fff;                      /*Seleta a cor da fonte do botão*/
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;          /*Configura o botão de modo geral*/
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 200px;
}

.submit-botao:hover{
    background-color: #00274c;        /*Aplica efeito ao submit quando o cursor estiver sobre ele*/
    color: #fff;
    transform: translateY(-2px);
} 


/*----------------------- Página de contato --------------------------------*/

.conteudo1{
    flex-grow: 1;                       /*Garante que o conteudo do main seja usado ao máximo isolando o cabeçalho e rodapé*/
    padding: 10px 10px;
    display: flex;
    max-width: 900px;
    margin: 30px auto;                  /*Configura a disposição dos itens foto e formulário dentro do main*/
    gap: 40px;
    align-items: center;
    padding: 0 20px;

}
.conteudo1__contatoImagem{
    flex: 1;                            /*Reserva um espaço específico para o tamanho da imagem*/
    min-width: 0;                       /*Evita o verflow da imagem dentro do container*/

}

.conteudo1__contatoImagem img{
    width: 100%;                        /*Define que a imagem tenha seu tamanho original*/
    height: auto;
}

.conteudo1__formularioContainer{

    max-width: 300px;
    margin: 10px auto;                  /*Define o tamanho máximo do conteúdo do container formulário e sua disposição na tela*/
    padding: 10px;

}

.formulario{
    display: flex;
    flex-direction: column;             /*Define a disposição dos itens do formulário em coluna*/
    gap: 5px;
}

.formulario h3{
    color: black;
    text-align: left;                   /*Define a disposição do texto e formatação*/
    margin-bottom: 5px;
    font-size: 1.3rem;
}

.inputGrupo{
    position: relative;                 /*Mantém a posição fixa*/
}

.inputGrupo input,
.inputGrupo select,
.inputGrupo textarea {
    width: 100%;
    padding: 7px 15px;
    border: 1px solid #ddd;           /*Configura as caixas de texto com suas respectivas bordas, cor e posição*/
    border-radius: 6px;
    font-size: 0.95rem;
    background-color: #f9f9f9;
    transition: all 0.3 ease;
}

