.conteudo{
    flex-grow: 1;                       /*Garante que o conteudo do main seja usado ao máximo isolando o cabeçalho e rodapé*/
    padding: 10px 10px;
    text-align: center;                 /*Centraliza verticalmente os itens de imagem e foto do container*/

}
.conteudo1{
    flex-grow: 1;                       /*Garante que o conteudo do main seja usado ao máximo isolando o cabeçalho e rodapé*/
    padding: 10px 10px;
    display: flex;
    max-width: 900px;
    margin: 30px auto;                  /*Configura a disposição dos itens foto e formulário dentro do main*/
    gap: 40px;
    align-items: center;
    padding: 0 20px;

}
.conteudo1__contatoImagem{
    flex: 1;                            /*Reserva um espaço específico para o tamanho da imagem*/
    min-width: 0;                       /*Evita o verflow da imagem dentro do container*/

}

.conteudo1__contatoImagem img{
    width: 100%;                        /*Define que a imagem tenha seu tamanho original*/
    height: auto;
}

.conteudo1__formularioContainer{

    max-width: 300px;
    margin: 10px auto;                  /*Define o tamanho máximo do conteúdo do container formulário e sua disposição na tela*/
    padding: 10px;

}

.formulario{
    display: flex;
    flex-direction: column;             /*Define a disposição dos itens do formulário em coluna*/
    gap: 5px;
}

.formulario h3{
    color: black;
    text-align: left;                   /*Define a disposição do texto e formatação*/
    margin-bottom: 5px;
    font-size: 1.3rem;
}

.inputGrupo{
    position: relative;                 /*Mantém a posição fixa*/
}

.inputGrupo input,
.inputGrupo select,
.inputGrupo textarea {
    width: 100%;
    padding: 7px 15px;
    border: 1px solid #ddd;           /*Configura as caixas de texto com suas respectivas bordas, cor e posição*/
    border-radius: 6px;
    font-size: 0.95rem;
    background-color: #f9f9f9;
    transition: all 0.3 ease;
}

.inputGrupo input:focus,
.inputGrupo select:focus,
.inputGrupo textarea:focus {
    border-color:#00274C;
    outline:none;
    background-color:#fff;


}

.inputGrupo select{
    appearance:none;
    color:#555;

}

.inputGrupo textarea{
    resize:vertical;
    max-height:30 px;

}
.submitbotao2{
    background-color: #1351dB ;
    color:white;
    border:none;
    padding:12px;
    border-radius: 6px;
    font-size: 1rem;
    cursor:pointer;
    transition:all 0.3s ease;
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.submitbotao2:hover{
    background-color: #00274C;
    color:white;
    transform: translateY(-2px);

        
}


@media(max-width:768px){

.conteudo1{
    flex-direction: column;
    gap:20px;

}

.conteudo1__formularioContainer{
    width: 100%;
    max-width: 100%;
    padding: 0;

}

}