.conteudo{
    flex-grow: 1;                       /*Garante que o conteudo do main seja usado ao máximo isolando o cabeçalho e rodapé*/
    padding: 10px 10px;
    text-align: center;                 /*Centraliza verticalmente os itens de imagem e foto do container*/

}
.conteudo__imagem {
    max-width: 100%;                     /*Largura máxima admitida para a figura principal*/
    max-width: 700px;                       /*Ajuste da escala automático garantindo fidelidade a imagem*/
}

.conteudo p{

    margin:20px auto;
    max-width: 600px;
    padding: 0 20px;
}


@media(max-width:768px){
    .conteudo p{

        font-size: 14px;
    }


}